body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 10px;
    margin: 0;
}

h1 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0;
}

.image-container {
    margin-bottom: 20px;
}

.image-container img {
    max-width: 75%;
    height: auto;
}

.reference-report-container {
    margin-top: 20px;
    text-align: left;
}

.reference-report {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    white-space: pre-wrap; /* Preserve line breaks and whitespace */
}

#model-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.model-card {
    flex: 1 1 45%; /* Adjust this value to control the width of the cards */
    max-width: 45%; /* Ensure cards don't exceed this width */
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
}

.model-card .card-header {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}

.ranking-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 25%;
}

.ranking-list li {
    cursor: move;
}

.ranking-list .sortable-ghost {
    opacity: 0.4;
}
